<ul class="thumbnails">
  <li class="span3">
    <a href="#" class="thumbnail">
        <p> one grid item </p>
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <p> one grid item </p>
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <p> one grid item </p>
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <p> one grid item </p>
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <p> one grid item </p>
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <p> one grid item </p>
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <p> one grid item </p>
    </a>
  </li>
</ul>