<h1>Editing booking</h1>

<%
    @cookies_info = cookies[:user_name]
%>

<p align="left">
<%=  "Current User = "+@cookies_info.inspect %>
</p>

<%= render 'form3' %>

<%= link_to 'Back', rooms_path %>
