<%
   @cookies_info = cookies[:user_name]
   current_user_id = -1

   if @cookies_info.nil?
     @cookies_info = "NO USER INFO"
     current_user_id = -1
   else
     user = User.find_by_username(@cookies_info)
     if user.nil?
       current_user_id = -1
     else
       current_user_id = user.id
     end
   end

%>

<p align="left">

Current User is : <%= link_to @cookies_info, :controller=>"bookings", :action=>"show", :id=>current_user_id %>

</p>

<p align="left">
  <%=  link_to "SEARCH ROOMS ACCORDING TO YOUR REQUIREMENT", :controller=>"search",:action=>"search" %>
</p>

<hr/>